<style>
    .infoWrapper {
        position: fixed;
        height: 50px;
        width: 50px;
        background-color: white;
        border-radius: 50%;
        bottom: 20px;
        left: 20px;
        transition: 300ms ease-in;
    }

    .infoWrapper:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    }

    #githubicon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    
</style>

<div class="infoWrapper">
    <a href="https://github.com/ayangupta9">
        <img id="githubicon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="">
    </a>
</div>