<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <base href="/">
    <title>Image to ascii</title>
</head>

<body>
    <div class="backgroundWrapper">
        <div class="background">
        </div>
        <div class="background-gradient-overlay">
        </div>
        <div class="content">
            <%- include ('./partials/info.ejs') %>
                <div class="container text-center flex-column justify-content-center align-items-center">
                    <%= typeof msg !='undefined' ? msg : '' %>
                        <h1 class="m-4 text-center header">IMAGE TO ASCII</h1>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <input class="file btn btn-light uploadBtn" accept="image/*" type="file" name="uploadedImg"
                                value="UPLOAD">
                            <br>
                            <input class="btn btn-primary submitBtn mt-3" type="submit" value="SUBMIT">
                        </form>
                        <br>
                </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>

</html>