<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Image to ascii</title>


    <style>
        body {
            background-color: #333;
            color: white;
            margin: 3em;
        }

        .toast-body {
            color: #333;
        }

        canvas {
            border: solid 1px black;
            height: 50%;
            width: 50%;
        }

        pre {
            line-height: 6px;
            letter-spacing: 1.0px;
            font-size: 6px;
            padding: 0;
            background-color: black;
            color: white;
            overflow-y: hidden !important;
        }

        .toast {
            position: fixed;
            right: 10px;
            bottom: 10px;
        }

        @media (max-width:1150px) {
            pre {
                line-height: 4.5px;
                letter-spacing: 0.75px;
                font-size: 4.5px;
                padding: 0;
                background-color: black;
                color: white;
                overflow-y: hidden !important;
            }
        }

        @media (max-width:890px) {
            pre {
                line-height: 3px;
                letter-spacing: 0.5px;
                font-size: 3px;
                padding: 0;
                background-color: black;
                color: white;
                overflow-y: hidden !important;
            }
        }

        @media (max-width:620px) {
            pre {
                line-height: 1.5px;
                letter-spacing: 0.25px;
                font-size: 1.5px;
                padding: 0;
                background-color: black;
                color: white;
                overflow-y: hidden !important;
            }
        }
    </style>
</head>

<body>
    <div class="mt-5 mb-5 text-center">
        <%= typeof msg !='undefined' ? msg : '' %>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input class="file btn btn-light uploadBtn" accept="image/*" type="file" name="uploadedImg"
                    value="UPLOAD">
                <br>
                <input class="btn btn-primary submitBtn" type="submit" value="SUBMIT">
            </form>
            <!-- <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img" alt=""> -->
            <!-- <canvas id="canvas">
            </canvas> -->
            <br>
            <br>
            <input type="button" class="btn btn-light copyBtn disabled" value="copy">
            <input type="button" class="btn btn-light imageBtn disabled" value="Create Image">
            <input type="button" class="btn btn-light createAscii disabled" value="Create ASCII">
            <br>
            <br>
            <div class="row" id="containerResult">
                <pre id="ascii"></pre>
                <!-- <pre id="testascii"></pre> -->
                <img id="imageToAscii" src="" alt="">
            </div>

            <div class="toast" data-autohide="true" animate="true" id="myToast3">
                <div class="toast-header">
                    <strong class="mr-auto"><i class="fa fa-grav"></i>Copied to Clipboard!</strong>
                </div>
                <div class="toast-body">
                    paste anywhere you like!
                </div>
            </div>

            <div class="toast" data-autohide="true" animate="true" id="myToast1">
                <div class="toast-header">
                    <strong class="mr-auto"><i class="fa fa-grav"></i>ASCII Image created!</strong>
                </div>
                <div class="toast-body">
                    Save anywhere you want!
                </div>
            </div>

            <div class="toast" data-autohide="true" animate="true" id="myToast2">
                <div class="toast-header">
                    <strong class="mr-auto"><i class="fa fa-grav"></i>Converted to image!</strong>
                </div>
                <div class="toast-body">
                    Save anywhere you want!
                </div>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script>

        const toastEle = document.querySelector('.toast')
        const copyButton = document.querySelector('.copyBtn')
        const imageButton = document.querySelector('.imageBtn')
        const createAsciiButton = document.querySelector('.createAscii')
        const uploadButton = document.querySelector('.uploadBtn')
        const submitButton = document.querySelector('.submitBtn')
        let imageToAscii = document.getElementById('imageToAscii')
        // let canvas = document.getElementById('canvas');
        let asciiImage = document.getElementById('ascii');
        // let context = canvas.getContext('2d')

        // let testCanvas = document.getElementById('testascii')

        let imageData;
        let imageWidth;
        let imageHeight;

        uploadButton.addEventListener('change', e => {
            console.log(e)
            console.log(uploadButton)
            console.log(typeof uploadButton.value)
            console.log(uploadButton.value)
        })

        createAsciiButton.addEventListener('click', async e => {
            imageButton.classList.remove('disabled')
            copyButton.classList.remove('disabled')

            const data = {
                'data': imageData.data.toString(),
                'width': imageWidth,
                'height': imageHeight
            }

            console.log(data);
            const response = await fetch('/getImage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify(data),
            })

            const body = await response.json()
            asciiImage.textContent = body.textResult
            $('#myToast1').toast('show')

        })

        imageButton.addEventListener('click', async e => {
            // asciiImage.style.fontSize = '9px'
            // asciiImage.style.lineHeight = '9px'
            // asciiImage.style.letterSpacing = '1.5px'
            html2canvas(asciiImage, {
                scale: window.devicePixelRatio * 5,
                onrendered: function (cnv) {
                    var screenshot = cnv.toDataURL("image/png");
                    document.getElementById('imageToAscii').setAttribute('src', screenshot)
                    // asciiImage.style.fontSize = '3px'
                    // asciiImage.style.lineHeight = '3px'
                    // asciiImage.style.letterSpacing = '0.5px'
                },
            });

            $('#myToast2').toast('show')

        })

        copyButton.addEventListener('click', async e => {
            const el = document.createElement('textarea');
            el.value = asciiImage.textContent;
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            $('#myToast3').toast('show')
        })

        // document.addEventListener('DOMContentLoaded', e => {
        //     let imgObj = new Image();
        //     imgObj.src = 'https://picsum.photos/id/88/600/400'
        //     // imgObj.src = 'https://www.logogenie.net/images/articles/why-you-need-a-black-and-white-logo3.jpg'
        //     // imgObj.src = "../public/assets/o.png"
        //     imgObj.crossOrigin = "Anonymous";

        //     imgObj.onload = () => {
        //         const width = Math.floor(imgObj.width / 2.5);
        //         const height = Math.floor(imgObj.height / 2.5);

        //         console.log(window.devicePixelRatio);

        //         imageWidth = width
        //         imageHeight = height
        //         canvas.width = width;
        //         canvas.height = height;

        //         context.drawImage(imgObj, 0, 0, width, height);
        //         imageData = context.getImageData(0, 0, width, height)
        //         createAsciiButton.classList.remove('disabled')
        //     }
        // })


    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>

</html>