<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Image to ascii</title>

    <style>
        body {
            background-color: #333;
            color: white;
            margin: 3em;
        }

        .toast-body {
            color: #333;
        }

        canvas {
            border: solid 1px black;
            height: 50%;
            width: 50%;
        }

        pre {
            line-height: 10px;
            padding: 0;
            overflow-y: hidden !important;
        }

        .toast {
            position: fixed;
            right: 10px;
            bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="mt-5 mb-5 text-center">
        <canvas id="canvas">
        </canvas>
        <br>
        <br>
        <input type="button" class="btn btn-light copyBtn disabled" value="copy">
        <br>
        <br>
        <div class="row" id="containerResult">
            <pre id="ascii"></pre>
            <img id="imageToAscii" src="" alt="">
        </div>

        <div class="toast" data-autohide="true" animate="true" id="myToast">
            <div class="toast-header">
                <strong class="mr-auto"><i class="fa fa-grav"></i> Copied to Clipboard!</strong>

            </div>
            <div class="toast-body">
                paste anywhere you like!
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script>

        const toastEle = document.querySelector('.toast')
        const copyButton = document.querySelector('.copyBtn')
        let imageToAscii = document.getElementById('imageToAscii')
        let canvas = document.getElementById('canvas');
        let asciiImage = document.getElementById('ascii');
        let context = canvas.getContext('2d')

        let imageData;
        let imageWidth;
        let imageHeight;

        copyButton.addEventListener('click', async e => {
            const data = {
                'data': imageData.data.toString(),
                'width': imageWidth,
                'height': imageHeight
            }

            console.log(data);
            const response = await fetch('/getImage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                // body: JSON.stringify(imageData.data),
                body: JSON.stringify(data),
            })

            const body = await response.text()
            console.log(body);

            asciiImage.textContent = body
            // const el = document.createElement('textarea');
            // el.value = asciiImage.textContent;
            // document.body.appendChild(el);
            // el.select();
            // document.execCommand('copy');
            // document.body.removeChild(el);


            // html2canvas(document.getElementById("ascii"), {
            //     scale: window.devicePixelRatio * 10,
            //     onrendered: function (cnv) {
            //         var screenshot = cnv.toDataURL("image/png");
            //         document.getElementById("imageToAscii").setAttribute("src", screenshot);
            //     },
            // });

            // $('.toast').toast('show')
        })

        document.addEventListener('DOMContentLoaded', e => {
            let imgObj = new Image();
            imgObj.src = 'https://picsum.photos/id/190/600/400'
            imgObj.crossOrigin = "Anonymous";

            imgObj.onload = () => {
                const width = Math.floor(imgObj.width / 2.75);
                const height = Math.floor(imgObj.height / 2.75);

                imageWidth = width
                imageHeight = height
                canvas.width = width;
                canvas.height = height;

                context.drawImage(imgObj, 0, 0, width, height);
                imageData = context.getImageData(0, 0, width, height)
                copyButton.classList.remove('disabled')
            }
        })


    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>

</html>